cs-workflow-2.json
{
  "name": "Daily Sales Order Tasks",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "daily-schedule",
      "name": "Daily Schedule (9 AM Weekdays)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://sales-order-api:8000/sales-orders/stats/daily",
        "options": {}
      },
      "id": "get-daily-stats",
      "name": "Get Daily Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://sales-order-api:8000/agent/inquiry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Generate a daily sales summary report for management with key insights and recommendations"
            },
            {
              "name": "context",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "generate-summary",
      "name": "Generate AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://notification-service:3001/api/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "management@company.com"
            },
            {
              "name": "subject",
              "value": "Daily Sales Order Summary - {{ new Date().toLocaleDateString() }}"
            },
            {
              "name": "body",
              "value": "={{ $('Generate AI Summary').first().json.response }}"
            },
            {
              "name": "data",
              "value": "={{ $('Get Daily Stats').first().json }}"
            }
          ]
        }
      },
      "id": "send-email-report",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://sales-order-api:8000/agent/inquiry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Identify any orders that are overdue or need immediate attention today"
            }
          ]
        }
      },
      "id": "check-urgent-orders",
      "name": "Check Urgent Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_human }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "urgent-found",
      "name": "Urgent Issues Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "url": "http://notification-service:3001/api/send-alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "sales-team@company.com"
            },
            {
              "name": "subject",
              "value": "URGENT: Sales Orders Requiring Attention"
            },
            {
              "name": "body",
              "value": "={{ $('Check Urgent Orders').first().json.response }}"
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        }
      },
      "id": "send-urgent-alert",
      "name": "Send Urgent Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Daily Schedule (9 AM Weekdays)": {
      "main": [
        [
          {
            "node": "Get Daily Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Urgent Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Stats": {
      "main": [
        [
          {
            "node": "Generate AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Summary": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Urgent Orders": {
      "main": [
        [
          {
            "node": "Urgent Issues Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgent Issues Found?": {
      "main": [
        [
          {
            "node": "Send Urgent Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}